<!DOCTYPE html>
<html lang="pr-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>CadPessoa</title>
  </head>
  <body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      
      <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Cadastro</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Cadastro</a></li>
          <li><a href="#">Pessoa</a></li>
          <li><a href="#">Família</a></li>
          <li><a href="#">Projeto</a></li>
          <li><a href="#">Fornecedor</a></li>
          <li><a href="#">Parceiro</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Projeto</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Projeto</a></li>
          <li><a href="#">Associar Família</a></li>
          <li><a href="#">Mátricular Aluno</a></li>
          <li><a href="#">Relatório</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">Financeiro</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Financeiro</a></li>
          <li><a href="#">Entrada</a></li>
          <li><a href="#">Saída</a></li>
          <li><a href="#">Contas a Pagar</a></li>
          <li><a href="#">Relatório financeiro</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">Relatórios</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Relatórios</a></li>
          <li><a href="#">Financeiro</a></li>
          <li><a href="#">Projetos</a></li>
          <li><a href="#">Fanílias</a></li>
          <li><a href="#">Funcionários</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Configurações</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Configurações</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="../../img/LogoModernaAUP.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Alex Borges</div>
        <div class="job">Web Developer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section" style="width: calc(100% -280px); height: 100vh; background-color: rgb(216, 216, 215);">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Cadastro de Pessoa</span>
    </div>
    <div class="containe-fluid" style="background-color: aliceblue;

    width: 100%; 
    height: 85vh; 
    
    ">

    </div>

  </section>


  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>

  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>









</body>
</html>

























    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
